<div class="container" style="width: 50%; height: 50%;">
        <h2 class="mt-2 d-flex justify-content-center">Fill the Category</h2>
      
        <div class="form-group" >
          <form #form="ngForm">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" #fName="ngModel" name="Name" [(ngModel)]="Dataobj.Name" required minlength="4">
            <div class="text-danger">
                @if(fName.touched && fName.errors?.['required'])
                {
                <span>Name is Required</span>
                }
                @else if(fName.touched && fName.errors?.['minlength'])
                {
                        <span>Minimum length  is 4</span>     
                }

            </div>
      
            <label for="studio" class="form-label mt-3">UrlHandle</label>
            <input type="text" class="form-control" id="studio" #fUrlHandel="ngModel" name="UrlHandel" [(ngModel)]="Dataobj.UrlHandel" required minlength="5">

            <div class="text-danger">
                @if(fUrlHandel.touched && fUrlHandel.errors?.['required'])
                {
                        <span>Url is required</span>
                }
                @else if(fUrlHandel.touched && fUrlHandel.errors?.['minlength'])
                {
                        <span>minimum length is 5 </span>
                }
            </div>
      
            <div class="d-flex justify-content-center mt-4">
              <button type="submit" class="btn btn-primary me-2" [disabled]="form.invalid" (click)="OnSubmit()">Submit</button>
              <button type="button" class="btn btn-info" [routerLink]="['/categoryblog']">Back</button>
            </div>
          </form>
        </div>
      </div>


 
      